html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: #2e2d2c;
  --main-theme-color: #ec9e17;
  --glow-color: #f8dd5af7;
  --main-font-color: #d6d6d6;
  --likebutton-color: #bebebe;
}
